#Y1{
    font-size: 20px;
    background-color: orangered;
    margin: 10px;
    padding: 20px;
    border: 3px solid black;
}
#Y1 b{
    color: black;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.id1{
    background-color: orangered;
    color: black;
    margin: 10px;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    border: 3px solid black;
}
h2{
    background-color: orangered;
    color: black;
    margin: 10px;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 3px solid black;
}
p{
    font-size: larger;
    margin: 10px;
    padding: 10px;
}
b{
    font-size: large;
    margin: 15px;
    padding: 10px;
    
}
.id6{
    background-color: black;
    color: orangered;
    margin: 10px;
    padding: 10px;
}
.id6 pre{
    font-size: 15px;
}
.id6 b{
    font-size: 15px;
}
a{
    text-decoration: none;
}
.b1 {
        font-size: 25px;
        margin: 10px;
        padding: 10px;
        background-color: lightskyblue;
        border: 3px solid black;
     
}
img {
    border-radius: 8%;
}
li {
    font-size: large;
}